<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link href="http://libs.baidu.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">

</head>
<body>

<div class="site">
    <div class="header">


        <div class="title"><a href="/">{{ site.name }}</a></div>
        <ul class="nav nav-tabs">
            <li class="{{page.engine_active}}">
            <a class="extra" href="/">DPI引擎</a>
            </li>
            <li class="{{page.dev_active}}">
            <a class="extra" href="/dev.html">开发套件</a>
            </li>
            <li class="{{page.lib_active}}">
            <a class="extra" href="/lib.html">DPI特征库</a>
            </li>
            <li class="{{page.download_active}}">
            <a class="extra" href="/download.html">下载试用</a>
            </li>
        </ul>
    </div>

    {{ content }}

    <div class="footer">
        &copy;2014 The HyperScan Project
    </div>
</div>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>
